<div>
  
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">oneway</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">For loop example</h1>
    
    <app-forsample></app-forsample>
   

  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">If condition </h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dropdown</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Two way</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Parent-Child :Calling Component from another Component Example</h1>
    
    <app-parent></app-parent>
   

  </div>
</div>
